#!/bin/rc
rfork e
repo=`{echo $0 | sed 's;/tests/[^/]*$;;'}

for(t in new-post.rc new-post-editor.rc check-self.rc valid-draft.rc post-id.rc post-title.rc publish.rc cancel.rc push.rc timeline.rc open-post.rc){
	echo tests/$t
	$repo/tests/$t || exit $status
}

echo ok
exit ''
