#!/bin/rc
rfork en
repo=`{echo $0 | sed 's;/tests/[^/]*$;;'}
cmd=$repo/bin/9social/lib/valid-draft
home=/usr/glenda

fn fail {
	echo FAIL: $* >[1=2]
	exit fail
}

$cmd /usr/glenda/tmp/9social-new-post.123 || fail home-base
$cmd /usr/glenda/tmp/9social-new-post.123.2 || fail home-suffix
$cmd /tmp/9social-new-post.456 || fail tmp-base
$cmd /tmp/9social/9social-new-post.456 || fail tmp-dir-base
$cmd /tmp/9social/9social-new-post.456.3 || fail tmp-dir-suffix
$cmd /tmp/9social-new-post.456.3 || fail tmp-suffix

if($cmd /usr/glenda/tmp/not-a-draft)
	fail invalid-name
if($cmd /usr/glenda/tmp/9social-new-post.abc)
	fail invalid-pid
if($cmd /usr/glenda/lib/9social-new-post.123)
	fail invalid-dir
if($cmd /tmp/9social-new-post.123.x)
	fail invalid-suffix

echo ok
exit ''
